
QLabel {
    background: qlineargradient(spread:pad, x1:0, y1:0, x2:1, y2:0,
                                stop:0 #106381, stop:1 #1683aa);
  border-radius: 10px;
	font: 18pt "Segoe UI";
    font-weight: 1000;
    padding: 0px;
    margin: 0px;
}